---

db_password: "{{ lookup('community.general.random_string', length=20, upper=true, special=true, override_special="-&+", min_special=2, numbers=true) }}"
vm_password: "{{ lookup('community.general.random_string', length=20, upper=true, special=true, override_special="-&+", min_special=2, numbers=true) }}"
wp_password: "{{ lookup('community.general.random_string', length=20, upper=true, special=true, override_special="-&+", min_special=2, numbers=true) }}"